{% extends 'base.html' %}
{% load static %}
{% block title %}    
{% endblock title %} 

{% block content %}
<!-- Course Start -->
<section class="course-two course-two--page">
    <div class="course-two__shape-top wow fadeInRight" data-wow-delay="300ms"><img src="{% static 'assets/images/shapes/course-shape-1.png' %}" alt="eduact"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="course-two__item">
                    <div class="course-two__thumb">
                        <img src="{% static 'assets/images/course/course-2-1.png' %}" alt="eduact">
                        <a class="course-two__like" href="javascript:void(0);"><span class="icon-like"></span></a>
                        
                    </div><!-- /.course-thumb -->
                    <div class="course-two__content">
                        <div class="course-two__time">20 Hours</div>
                        <div class="course-two__ratings">
                            <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                            <div class="course-two__ratings__reviews">(25 Reviews)</div>
                        </div>
                        <h3 class="course-two__title">
                            <a href="management-consulting.html">Management Consultants in Competitive Markets</a>
                        </h3>
                        <div class="course-two__bottom">
                            <div class="course-two__author">
                                <img src="{% static 'assets/images/course/author-1.png' %}" alt="eduact">
                                <h5 class="course-two__author__name">Guy Hawkins</h5>
                                <p class="course-two__author__designation">Project Manager</p>
                            </div>
                            <div class="course-two__meta">
                                <h4 class="course-two__meta__price">$473.00</h4>
                                <p class="course-two__meta__class">15 Lessons</p>
                            </div>
                        </div>
                    </div><!-- /.course-content -->
                </div><!-- /.course-card-two -->
            </div>
            
            
            
        </div>
    </div>
    <div class="course-two__shape-bottom wow fadeInLeft" data-wow-delay="400ms"><img src="{% static 'assets/images/shapes/course-shape-2.png' %}" alt="eduact"></div>
</section>
<!-- Course End -->
{% endblock content %}
    