{% extends 'base.html' %}
{% load static %}

{% block title %}
    
{% endblock title %}
    

{% block content %}
        <!-- Course Start -->
        <section class="course-three" style="background-image: url(assets/images/shapes/course-bg-3.png);">
            <div class="container">
                <div class="section-title wow fadeInUp text-center" data-wow-delay="100ms">
                    <h5 class="section-title__tagline">
                        Course
                        <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                            <g clip-path="url(#clip0_324_36194)">
                                <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                                <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                                <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                                <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                            </g>
                        </svg>
                    </h5>
                    <h2 class="section-title__title">Featured Course On This Month</h2>
                </div><!-- section-title -->
                <div class="row">
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-1.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">20 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(30 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="management-consulting.html">Management Consultants in Competitive Markets</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-1.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$473.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-2.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">32 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(25 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="web-development.html">The Ultimate Developer Course For Future Learner</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-3.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$564.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-3.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">30 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(30 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="frontend-development.html">The Special HTML &amp; CSS Bootcamp Edition</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-2.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$360.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-4.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">36 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(50 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="uiux-design.html">Building Responsive User Interfaces to Implementing</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-5.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$956.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-4.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">36 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(50 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="uiux-design.html">Building Responsive User Interfaces to Implementing</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-5.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$956.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="course-three__item">
                            <div class="course-three__thumb">
                                <img src="{% static 'assets/images/course/course-3-4.png' %}" alt="eduact">
                            </div><!-- /.course-thumb -->
                            <div class="course-three__content">
                                <div class="course-three__time">36 Hours</div>
                                <div class="course-three__ratings">
                                    <span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                                    <div class="course-three__ratings__reviews">(50 Reviews)</div>
                                </div>
                                <h3 class="course-three__title">
                                    <a href="uiux-design.html">Building Responsive User Interfaces to Implementing</a>
                                </h3>
                                <div class="course-three__bottom">
                                    <div class="course-three__author">
                                        <img src="{% static 'assets/images/course/author-5.png' %}" alt="eduact">
                                        <h5 class="course-three__author__name">Guy Hawkins</h5>
                                        <p class="course-three__author__designation">Project Manager</p>
                                    </div>
                                    <div class="course-three__meta">
                                        <h4 class="course-three__meta__price">$956.00</h4>
                                        <p class="course-three__meta__class">15 Lessons</p>
                                    </div>
                                </div>
                            </div><!-- /.course-content -->
                        </div><!-- /.course-card-two -->
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Course End -->
    
{% endblock content %}
    