{% load static %}
<!-- About Start -->
<section class="about-two about-two--about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-two__thumb wow fadeInLeft" data-wow-delay="100ms"><!-- about thumb start -->
                    <div class="about-two__thumb__one eduact-tilt" data-tilt-options='{ "glare": false, "maxGlare": 0, "maxTilt": 2, "speed": 700, "scale": 1 }'>
                        <img  src="{% static 'assets/images/about/about.png' %}" alt="eduact">
                    </div><!-- /.about-thumb-one -->
                  
                    <div class="about-two__fact">
                        <div class="about-two__fact__icon"><span class="icon-trophy"></span></div>
                        <div class="about-two__fact__content">
                            <div class="about-two__fact__count">
                                +<span class="count-box">
                                    <span class="count-text" data-stop="230" data-speed="1500"></span>
                                </span>
                            </div><!-- /.fact-one__count -->
                            <h3 class="about-two__fact__title">Awesome Awards</h3><!-- /.fact-one__title -->
                        </div>
                    </div><!-- /.fact-item -->
                    <div class="about-two__thumb__shape1 wow zoomIn" data-wow-delay="300ms">
                        <img src="{% static 'assets/images/shapes/about-2-shape-1.png' %}" alt="eduact">
                    </div><!-- /.about-shape-one -->
                    <div class="about-two__thumb__shape2 wow zoomIn" data-wow-delay="400ms">
                        <img src="{% static 'assets/images/shapes/about-2-shape-2.png' %}" alt="eduact">
                    </div><!-- /.about-shape-two -->
                    <div class="about-two__thumb__shape3 wow zoomIn" data-wow-delay="400ms">
                        <img src="{% static 'assets/images/shapes/about-2-shape-3.png' %}" alt="eduact">
                    </div><!-- /.about-shape-two -->
                    <div class="about-two__thumb__shape4 wow zoomIn" data-wow-delay="400ms">
                        <img src="{% static 'assets/images/shapes/about-2-shape-4.png' %}" alt="eduact">
                    </div><!-- /.about-shape-two -->
                </div><!-- about thumb end -->
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="100ms">
                <div class="about-two__content"><!-- about content start-->
                    <div class="section-title">
                        <h5 class="section-title__tagline">
                            About Us
                            <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                                <g clip-path="url(#clip0_324_36194)">
                                    <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                                    <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                                    <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                                    <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                                </g>
                            </svg>
                        </h5>
                        <h2 class="section-title__title">Establishing a Community that Encourages Lifelong Learning</h2>
                    </div><!-- section-title -->
                    <p class="about-two__content__text">
                        Welcome to ecourseugv, your trusted online learning destination. We offer a diverse range of top-quality courses, expert instructors, and a user-friendly experience, all aimed at helping you achieve your educational and career goals. Join us on your journey of discovery and development!
                    </p>
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-logical-thinking"></span></div>
                            <h4 class="about-two__about-box__title">Our Mission</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            Our mission at ecourseugv is to democratize education by offering accessible and high-quality online courses, empowering individuals to pursue lifelong learning and personal growth.
                        </p>
                    </div><!-- /.icon-box -->
                    <div class="about-two__about-box">
                        <div class="about-two__about-box__top">
                            <div class="about-two__about-box__icon"><span class="icon-vision"></span></div>
                            <h4 class="about-two__about-box__title">Our Vision</h4>
                        </div>
                        <p class="about-two__about-box__text">
                            We aspire to be a global leader in online education, providing a platform where individuals worldwide can easily access diverse and enriching courses, enhancing their skills and opportunities.
                        </p>
                    </div><!-- /.icon-box -->
                </div><!-- about content end -->
            </div>
        </div>
    </div>
</section>
<!-- About End -->