{% load static %}
        <!-- Blog Start -->
        <section class="blog-three" style="background-image: url({% static 'assets/images/shapes/blog-bg-3.jpg' %});">
            <div class="container">
                <div class="section-title text-center wow fadeInUp" data-wow-delay="100ms">
                    <h5 class="section-title__tagline">
                        Latest Blog
                        <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                            <g clip-path="url(#clip0_324_36194)">
                                <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                                <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                                <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                                <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                            </g>
                        </svg>
                    </h5>
                    <h2 class="section-title__title">Latest Updates & Articles</h2>
                </div><!-- section-title -->
                <div class="row">
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-1.jpg' %}" alt="eduact">
                                <a href="blog-details-right.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-right.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-right.html">The Complete Web Developer Guideline 2023</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-right.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-right.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-2.jpg' %}" alt="eduact">
                                <a href="blog-details.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details.html">Introducing the Latest Tech Features in your Business</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-3.jpg' %}" alt="eduact">
                                <a href="blog-details-left.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-left.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-left.html">Basic Rules of Running Web Agency Business Solution</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-left.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-left.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-1.jpg' %}" alt="eduact">
                                <a href="blog-details-right.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-right.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-right.html">The Complete Web Developer Guideline 2023</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-right.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-right.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-2.jpg' %}" alt="eduact">
                                <a href="blog-details.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details.html">Introducing the Latest Tech Features in your Business</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-3.jpg' %}" alt="eduact">
                                <a href="blog-details-left.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-left.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-left.html">Basic Rules of Running Web Agency Business Solution</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-left.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-left.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-1.jpg' %}" alt="eduact">
                                <a href="blog-details-right.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-right.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-right.html">The Complete Web Developer Guideline 2023</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-right.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-right.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-2.jpg' %}" alt="eduact">
                                <a href="blog-details.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details.html">Introducing the Latest Tech Features in your Business</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="blog-three__item">
                            <div class="blog-three__image">
                                <img src="{% static 'assets/images/blog/blog-3-3.jpg' %}" alt="eduact">
                                <a href="blog-details-left.html"></a>
                            </div><!-- /.blog-image -->
                            <div class="blog-three__content">
                                <div class="blog-three__top-meta">
                                    <div class="blog-three__cats"><a href="blog-list-left.html">Development</a></div><!-- /.blog-cats -->
                                    <div class="blog-three__date">26 Mar, 2023</div><!-- /.blog-date -->
                                </div>
                                <h3 class="blog-three__title">
                                    <a href="blog-details-left.html">Basic Rules of Running Web Agency Business Solution</a>
                                </h3><!-- /.blog-title -->
                                <div class="blog-three__meta">
                                    <div class="blog-three__meta__author">
                                        <img src="{% static 'assets/images/blog/author-1.png' %}" alt="eduact" />
                                        <a href="blog-list-left.html">Darrell Steward</a>
                                        Fronted Developer
                                    </div>
                                    <a class="blog-three__rm" href="blog-details-left.html"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                                </div><!-- /.blog-meta -->
                            </div><!-- /.blog-content -->
                        </div><!-- /.blog-card-one -->
                    </div>
                </div>
                <div class="hero-banner__btn wow fadeInUp" data-wow-delay="600ms">
                    <a href="blog_list.html" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Brouse All Blogs<i class="icon-arrow"></i></a>
                </div><!-- banner-btn -->
            </div>
        </section>
        <!-- Blog End -->