{% load static %}




<!-- Call To Action Start -->
<section class="cta-two">
    <div class="container">
        <div class="cta-two__bg" style="background-image: url({% static 'assets/images/shapes/cta-bg-2.jpg' %});">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay="200ms">
                    <h3 class="cta-two__title">Subscribe to Our Newsletter<br> for Daily Updates</h3>
                </div>
                <div class="col-lg-6">
                    <div class="cta-two__mail wow fadeInRight" data-wow-delay="200ms">
                        <form class="cta-two__email-box mc-form" data-url="MC_FORM_URL" novalidate="novalidate">
                            <div class="cta-two__email-input-box">
                                <input type="email" placeholder="Email Address" name="EMAIL">
                            </div>
                            <button type="submit" class="eduact-btn"><span class="eduact-btn__curve"></span>Subscribe</button>
                        </form>
                        <div class="mc-form__response"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action End -->