{% extends 'base.html' %}

{% block title %}
Gallery Page    
{% endblock title %}


{% block content %}
<style>
    .py-lg-5 {
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Events Gallery </h1> 
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for gal in gallery %}
        <div class="col">
          <div class="card shadow-sm">
            <a href="{{gal.image.url}}"><img style="width: 450px; height: 300px;" src="{{gal.image.url}}" alt="{{ gal.event_name }}" class="img-thumbnail" data-toggle="modal" data-target="#imageModal" data-image="{{gal.image.url}}"></a>
            <div class="card-body">
              <p class="card-text"><b>Event Name:</b> {{ gal.event_name }}</p>
              <p class="card-text"><b>About :</b> {{ gal.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ gal.created_date }}</small>
                    <!-- AddToAny BEGIN -->
                    <div  class="a2a_kit a2a_kit_size_32 a2a_default_style">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>

</main>


    
{% endblock content %}

    
    