{% load static %}
       <!-- Testimonial Start -->
       <section class="testimonial-three">
        <div class="container">
            <div class="section-title">
                <h5 class="section-title__tagline">
                    Testimonial
                    <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
                        <g clip-path="url(#clip0_324_36194)">
                            <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                            <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                            <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                            <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
                        </g>
                    </svg>
                </h5>
                <h2 class="section-title__title">What Our Student Feedback</h2>
            </div><!-- section-title -->
            <div class="testimonial-three__wrapper">               
                <div class="testimonial-three__carousel eduact-owl__carousel owl-theme owl-carousel" data-owl-options='{
            "items": 1,
            "margin": 0,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": true,
            "nav":true,
            "URLhashListener":true,
            "dots":false,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow\"></span>"]
            }'>
                    <!-- Testimonial Item -->
                    {% for feedback in feedback  %}  
                    <div class="item" data-hash="item1">
                        <div class="testimonial-three__item">
                            <div class="testimonial-three__author">
                                <img src="{{feedback.image.url}}" alt="{{feedback.name}}">
                            </div><!-- testimonial-author -->
                            <div class="testimonial-three__content">
                                <div class="testimonial-three__quote">
                                    {{feedback.feedback_text}}
                                </div><!-- testimonial-quote --> 
                                <div class="testimonial-three__meta">
                                    <h5 class="testimonial-three__title">{{feedback.name}}</h5>
                                    <span class="testimonial-three__designation">{{feedback.designation}}</span>
                                </div><!-- testimonial-meta -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Testimonial Item -->
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial End -->
