{% extends 'base.html' %}
{% block title %}
        Home
{% endblock title %}
{% load static %}


{% block content %}

<!--Hero Banner Start-->
<section class="hero-banner" style="background-image: url({% static 'assets/images/shapes/banner-bg-1.png' %});">
    <div class="container"> 
        <div class="row">           
            <div class="col-lg-6">               
                <div class="hero-banner__content">
                    <div class="hero-banner__bg-shape1 wow zoomIn" data-wow-delay="300ms">
                        <div class="hero-banner__bg-round">
                            <div class="hero-banner__bg-round-border"></div>
                        </div>
                    </div>
                    <h2 class="hero-banner__title wow fadeInUp" data-wow-delay="400ms">Setting the Stage for a Better Learning Journey</h2>
                    <p class="hero-banner__text wow fadeInUp" data-wow-delay="500ms">
                        Unlock Your Potential with E-Course UGV <br> Your Gateway to Lifelong Learning
                        <img src="{% static 'assets/images/shapes/banner-1-shape-1.png' %}" alt="ecourseugv">
                    </p>
                    <div class="hero-banner__btn wow fadeInUp" data-wow-delay="600ms">
                        <a href="contact.html" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Create Account <i class="icon-arrow"></i></a>
                        <a href="{% url 'course_list' %}" class="eduact-btn"><span class="eduact-btn__curve"></span>Find The Course<i class="icon-arrow"></i></a>
                    </div><!-- banner-btn -->
                </div><!-- banner-content -->
            </div>
            <div class="col-lg-6">
                {% for item in hero_items %} 
                <div class="hero-banner__thumb wow fadeInUp" data-wow-delay="700ms">
                    <img src="{{item.image.url}}" alt="eduact">
                    <div class="hero-banner__cap wow slideInDown" data-wow-delay="800ms"><img src="{% static 'assets/images/shapes/banner-cap.png' %}" alt="eduact"></div><!-- banner-cap -->
                    <div class="hero-banner__star wow slideInDown" data-wow-delay="850ms"><img src="{% static 'assets/images/shapes/banner-star.png' %}" alt="eduact"></div><!-- banner-star -->
                    <div class="hero-banner__map wow slideInDown" data-wow-delay="900ms"><img src="{% static 'assets/images/shapes/banner-map.png' %}" alt="eduact"></div><!-- banner-map -->
                    <div class="hero-banner__video wow zoomIn" data-wow-delay="950ms" style="background-image: url({% static 'assets/images/resources/banner-video.png' %});">
                       
                        <a href="{{item.featured_video}}" class="video-popup"><span class="icon-play"></span></a>
                    </div><!-- banner-video -->
                    <div class="hero-banner__book wow slideInUp" data-wow-delay="1000ms"><img src="{% static 'assets/images/shapes/banner-book.png' %}" alt="eduact"></div><!-- banner-book -->
                    <div class="hero-banner__star2 wow slideInUp" data-wow-delay="1050ms"><img src="{% static 'assets/images/shapes/banner-star2.png' %}" alt="eduact"></div><!-- banner-star -->
                    <div class="hero-banner__cart wow slideInUp" data-wow-delay="1100ms">
                        <div class="hero-banner__cart__thumb"><img src="{% static 'assets/images/resources/banner-author.png' %}" alt="eduact"></div>
                        <div class="hero-banner__cart__content">
                            <div class="hero-banner__cart__content-inner"> 
                                <h4 class="hero-banner__cart__title">Latest Work Shop</h4>
                                
                                <p class="hero-banner__cart__text">{{item.workshop_name}}</p>
                                <a href="{{item.workshop_join_link}}" class="eduact-btn"><span class="eduact-btn__curve"></span>Join Now<i class="icon-arrow"></i></a>
                                {% endfor %}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 38">
                                    <path d="M0.702945 55.648L108.145 0.179688L87.0803 78.7928L0.702945 55.648Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>   
       
    </div>
    <div class="hero-banner__border wow fadeInUp" data-wow-delay="1100ms"></div><!-- banner-border -->
</section>
<!--Hero Banner End-->
<div class="section-title text-center wow fadeInUp" data-wow-delay="100ms" style="margin-top: 20px;">
    <h5 class="section-title__tagline">
        Course-Section
        <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
            <g clip-path="url(#clip0_324_36194)">
                <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
            </g>
        </svg>
    </h5>
    <h2 class="section-title__title">Latest Course Section</h2>
</div><!-- section-title -->
{% include 'components/course.html' %}


<!-- blog start  -->
<div class="section-title text-center wow fadeInUp" data-wow-delay="100ms">
    <h5 class="section-title__tagline">
        Latest Blog
        <svg class="arrow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 13">
            <g clip-path="url(#clip0_324_36194)">
                <path d="M10.5406 6.49995L0.700562 12.1799V8.56995L4.29056 6.49995L0.700562 4.42995V0.819946L10.5406 6.49995Z" />
                <path d="M25.1706 6.49995L15.3306 12.1799V8.56995L18.9206 6.49995L15.3306 4.42995V0.819946L25.1706 6.49995Z" />
                <path d="M39.7906 6.49995L29.9506 12.1799V8.56995L33.5406 6.49995L29.9506 4.42995V0.819946L39.7906 6.49995Z" />
                <path d="M54.4206 6.49995L44.5806 12.1799V8.56995L48.1706 6.49995L44.5806 4.42995V0.819946L54.4206 6.49995Z" />
            </g>
        </svg>
    </h5>
    <h2 class="section-title__title">Latest Updates & Articles</h2>
</div><!-- section-title -->
<div class="container">
<div class="row">    
    {% if blogs %}  
    {% for blog in blogs  %} 
     <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
        <div class="blog-three__item">
            <div class="blog-three__image">
                <img  style="width: 415px; height: 300px;" src="{{blog.image.url}}" alt="{{blog.title}}">
                <a href="{% url 'blog_details' blog.slug %}"></a>
            </div><!-- /.blog-image -->
            <div class="blog-three__content">
                <div class="blog-three__top-meta">
                    <div class="blog-three__cats"><a href="#">{{blog.category_blog.title}}</a></div><!-- /.blog-cats -->
                    <div class="blog-three__date"><p>{{ blog.published|date:"j M, Y" }}</p>
                    </div><!-- /.blog-date -->
                </div>
                <h3 class="blog-three__title">
                    <a href="{% url 'blog_details' blog.slug %}">{{blog.title}}</a>
                </h3><!-- /.blog-title -->
                <div class="blog-three__meta">
                    <div class="blog-three__meta__author">
                        <img src="{{blog.author.image.url}}" alt="eduact" />
                        <a href="blog-list-right.html">{{blog.author.name}}</a>
                        {{blog.author.designation}}
                    </div>
                    <a class="blog-three__rm" href="{% url 'blog_details' blog.slug %}"><span class="icon-arrow"></span></a><!-- /.read-more-btn -->
                </div><!-- /.blog-meta -->
            </div><!-- /.blog-content -->
        </div><!-- /.blog-card-one -->
    </div>
    {% endfor %} 
    {% else %}
    <h1 style="text-align: center; color: red;">No blog found </h1>
    {% endif %}    
   
</div>
<div  style="margin-bottom: 15px;" class="hero-banner__btn wow fadeInUp" data-wow-delay="600ms">
    <a href="{% url 'course_list' %}" class="eduact-btn eduact-btn-second"><span class="eduact-btn__curve"></span>Browse All <i class="icon-arrow"></i></a>
</div><!-- banner-btn -->
</div>

{% include 'components/category.html' %}
{% include 'components/about_us.html' %}

{% include 'components/counter.html' %}
{% include 'components/testimonial.html' %}
{% endblock content %}


    